In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [3]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1739,tt0825232,45000000,175372502,The Bucket List,Jack Nicholson|Morgan Freeman|Sean Hayes|Bever...,Rob Reiner,"When he closed his eyes, his heart was opened",Corporate billionaire Edward and working class...,97,Comedy|Drama|Adventure,Warner Bros.|Storyline Entertainment|Two Ton F...,12/25/2007,6.9,2007
639,tt0758774,70000000,113280098,Body of Lies,Leonardo DiCaprio|Russell Crowe|Mark Strong|Al...,Ridley Scott,Trust no one. Deceive everyone.,"Body of Lies follows CIA operative, Roger Ferr...",128,Action|Drama|Thriller,Scott Free Productions|De Line Pictures|Warner...,10/10/2008,6.5,2008
1663,tt0345074,20000000,11341016,Connie and Carla,Nia Vardalos|Toni Collette|David Duchovny|Step...,Michael Lembeck,"When you follow your dream, there's no telling...",After accidentally witnessing a mafia hit in t...,98,Comedy,Universal Pictures,4/16/2004,6.8,2004
1506,tt0498380,19000000,68673228,Letters from Iwo Jima,Ken Watanabe|Kazunari Ninomiya|Tsuyoshi Ihara|...,Clint Eastwood,The battle of Iwo Jima seen through the eyes o...,The story of the battle of Iwo Jima between th...,141,Action|Adventure|Drama|War,DreamWorks SKG|Amblin Entertainment|Malpaso Pr...,12/19/2006,6.9,2006
598,tt0255819,16000000,29381649,Baby Boy,Tyrese Gibson|Taraji P. Henson|Omar Gooding|Vi...,John Singleton,Just a Baby Boy.,"The story of Jody, a misguided, 20-year-old Af...",130,Drama|Comedy|Crime,Columbia Pictures,6/27/2001,7.4,2001

In [4]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [0]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [0]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['0'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '5.Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# если ответили верно, можете добавить комментарий со значком "+"

In [44]:
# тут пишем ваш код для решения данного вопроса:
# to be easier see the reply, added text before the unswer 
column = 'budget'
budget_max = data[column].max()
print(f" 1. the budget ({column}): == {budget_max}")

data.loc[data[column] == budget_max, 'original_title']

 1. the budget (budget): == 380000000

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

ВАРИАНТ 2

In [0]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [0]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '2.Gods and Generals (tt0279111)'

In [5]:
column = 'runtime'
x = data[column].max()
print(f" 2. самый длительный ({column}): == {x}")

data.loc[data[column] == x, 'original_title']

 2. самый длительный (runtime): == 214

1157    Gods and Generals
Name: original_title, dtype: object

# 3. Какой из фильмов самый короткий (в минутах)?

In [7]:
column = 'runtime'
x = data[column].min()
print(f" 3. самый короткий ({column}): == {x}")

data.loc[data[column] == x, 'original_title']

 3. самый короткий (runtime): == 63

768    Winnie the Pooh
Name: original_title, dtype: object

# 4. Какова средняя длительность фильмов?

In [8]:
column = 'runtime'
temp_agg = data[column].mean()
print(f" 4. средняя длительность фильмов ({column}): == {temp_agg}")

 4. средняя длительность фильмов (runtime): == 109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [9]:
column = 'runtime'
temp_agg = data[column].median()
print(f" 5. медианное значение длительности фильмов ({column}): == {temp_agg}")

 5. медианное значение длительности фильмов (runtime): == 107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [10]:
# лучше код получения столбца profit вынести в Предобработку что в начале

data['profit'] = data['revenue'] - data['budget']  # => прибыль

column = 'profit'
temp_agg = data[column].max()
print(f" 6. фильм самый прибыльный ({column}): == {temp_agg}")

data.loc[data[column] == temp_agg, 'original_title']

 6. фильм самый прибыльный (profit): == 2544505847

239    Avatar
Name: original_title, dtype: object

# 7. Какой фильм самый убыточный?

In [11]:
# используется ранее выведеное значение => прибыль

column = 'profit'
temp_agg = data[column].min()
print(f" 7. фильм самый убыточный ({column}): == {temp_agg}")

data.loc[data[column] == temp_agg, 'original_title']

 7. фильм самый убыточный (profit): == -165710090

1245    The Lone Ranger
Name: original_title, dtype: object

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [12]:
column = 'profit'
# определяем значение, сравнивая с которым получим искомое 
temp_agg = 0
len(data.loc[data[column] > temp_agg, 'original_title'])

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [13]:
сolumn = 'profit'
column_release_year = 'release_year'  # добавляем название столбца 
column_release_year_2008 = 2008  # добавляем значение для доп столбца, тип столбца int, поэтому ставим 2008 
x = data[column_release_year] == column_release_year_2008
temp_agg = data[x][column].max()

print(f" 9.  ({column}): == {temp_agg}")
print(f"     ({column_release_year}): == {column_release_year_2008}")

data.loc[data[column] == temp_agg, 'original_title']

 9.  (profit): == 816921825
     (release_year): == 2008

599    The Dark Knight
Name: original_title, dtype: object

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [14]:
column = 'profit'
column_release_year = 'release_year'  
column_release_year_2014 = 2014 
column_release_year_2012 = 2012

x = (data[column_release_year] >= column_release_year_2012) & (data[column_release_year] <= column_release_year_2014)
temp_agg = data[x][column].min()

print(f" 10. самый убыточный ({column}): == {temp_agg}")

data.loc[data[column] == temp_agg, 'original_title']

 10. самый убыточный (profit): == -165710090

1245    The Lone Ranger
Name: original_title, dtype: object

# 11. Какого жанра фильмов больше всего?

In [15]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале

# столбец 'genres' содержит разделитель '|', нужно сделать список без раделителей
temp_list = [i.split('|') for i in data['genres']]

# распаковываем список
def list_unrar(list_of_lists):
    result=[]
    for lst in list_of_lists:
      result.extend(lst)
    return result

#  записываем распакованный список в Counter
temp_counter=Counter(list_unrar(temp_list))

# выводим самое частое значение в списке
temp_counter.most_common(1)

[('Drama', 782)]

ВАРИАНТ 2

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [16]:
temp_df = data[data['profit'] > 0]
temp_list = [i.split('|') for i in temp_df['genres']]

def list_unrar(list_of_lists):
    result=[]
    for lst in list_of_lists:
      result.extend(lst)
    return result

temp_counter=Counter(list_unrar(temp_list))
temp_counter.most_common(1)

[('Drama', 560)]

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [22]:
data_director = data.explode('director')
grouped_director = data_director.groupby(['director'])['revenue'].sum().sort_values(ascending=False)
display(grouped_director)

director
Peter Jackson        6490593685
Christopher Nolan    4167548502
David Yates          4154295625
Michael Bay          3886938960
J.J. Abrams          3579169916
                        ...
David MichÃ´d           2295423
Steven Shainberg        2281089
Paul Schrader           2062066
Keanu Reeves            2054941
Simon Hunter            2033165
Name: revenue, Length: 957, dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [21]:
film_action = pd.Series(data[data.genres.str.contains('Action')].director.str.split('|').explode()).value_counts()
film_action.idxmax()

'Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [23]:
temp_data = data[data['release_year'] == 2012]

actors_and_profit_counter = Counter()
for i in range(len(temp_data)):
     temp_list = temp_data.iloc[i]['cast'].split('|')
     for actor in temp_list:
         actors_and_profit_counter[actor] += temp_data.iloc[i]['revenue']

actors_and_profit_counter.most_common(1)

[('Chris Hemsworth', 2027450773)]

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [19]:
# датафрейм фильмов с бюджетами выше среднего
temp_data = data[(data['budget'] > data['budget'].mean())]['cast']
temp_list = [i.split('|') for i in temp_data]

# функция распаковки списка списков
def list_unrar(list_of_lists):
    result=[]
    for lst in list_of_lists:
      result.extend(lst)
    return result

temp_counter=Counter(list_unrar(temp_list))
temp_counter.most_common(1)

[('Matt Damon', 18)]

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [18]:
# датафрейм с фильмами в которых снимался Nicolas Cage 
temp_df = data[data['cast'].str.contains('Nicolas Cage')]

# подсчет фильмов по жанрам (в 11 вопросе)

temp_list = [i.split('|') for i in temp_df['genres']]

def list_unrar(list_of_lists):
    result=[]
    for lst in list_of_lists:
      result.extend(lst)
    return result

temp_counter=Counter(list_unrar(temp_list))
temp_counter.most_common(1)

[('Action', 17)]

# 18. Самый убыточный фильм от Paramount Pictures

In [24]:
data['profit'] = data['revenue'] - data['budget'] 
data[data['production_companies'].str.contains('Paramount Pictures')].sort_values('profit')[['profit', 'original_title']]

         profit                                     original_title
925   -64831034                               K-19: The Widowmaker
1123  -60519261                                           Timeline
1722  -51788987                                               Next
1623  -46604061                                              Alfie
1631  -24805000                                            Twisted
...         ...                                                ...
730   549713380               Mission: Impossible - Ghost Protocol
1738  559709780                                       Transformers
603   601636033  Indiana Jones and the Kingdom of the Crystal S...
317   686297228                Transformers: Revenge of the Fallen
828   928746996                     Transformers: Dark of the Moon

[122 rows x 2 columns]

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [25]:
data['profit'] = data['revenue'] - data['budget'] 
data = data.groupby('release_year')['profit'].sum().sort_values(ascending=False)
x = data.idxmax()
display(x)

2015

# 20. Какой самый прибыльный год для студии Warner Bros?

In [30]:
data = pd.read_csv('movie_bd_v5.csv')
data['profit'] = data['revenue'] - data['budget'] 
data_20 = data[data['production_companies'].str.contains('Warner Bros')]
data_20.groupby('release_year')['profit'].sum().sort_values(ascending=False)

release_year
2014    2295464519
2007    2201675217
2008    2134595031
2010    1974712985
2011    1871393682
2003    1855493377
2009    1822454136
2013    1636453400
2004    1631933725
2005    1551980298
2001    1343545668
2012    1258020056
2002    1022709901
2015     870368348
2006     620170743
2000     452631386
Name: profit, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [32]:
data_21 = data[['imdb_id', 'original_title', 'release_date']].copy()
data_21['mouth'] = pd.DatetimeIndex(data_21['release_date']).month
data21_max = data_21.value_counts(subset='mouth').sort_values(ascending=True)
x = data21_max.idxmax()
display(x)

9

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [33]:
data_22 = data[['imdb_id', 'original_title', 'release_date']].copy()
data_22['mouth'] = pd.DatetimeIndex(data_21['release_date']).month
data22_list = data_21.value_counts(subset='mouth').sort_values(ascending=True)
x = data21_max[6] + data21_max[7] + data21_max[8]
display(x)

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [34]:
data_23 = data[['imdb_id', 'director', 'release_date']].copy()

data_23['mouth'] = pd.DatetimeIndex(data_23['release_date']).month
data_23['directors'] = data_23.director.str.split('|')
data_23 = data_23.explode('directors')
data_23_winter = data_23[(data_23['mouth'] == 1) | (data_23['mouth'] == 2) | (data_23['mouth'] == 12)].value_counts(subset='directors')
x = data_23_winter.idxmax()
display(x)

'Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [35]:
data_24 = data[['imdb_id', 'production_companies', 'original_title']].copy()

data_24['title_len'] = data_24['original_title'].map(lambda x : len(x) )
data_24['company'] = data_24.production_companies.str.split('|')
data_24 = data_24.explode('company')
data_24_long = data_24.groupby(['company'])['title_len'].mean().sort_values(ascending=False)
x = data_24_long.idxmax()
display(x)

'Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [36]:
data_25 = data[['imdb_id', 'production_companies', 'overview']].copy()

data_25['overview_len'] = data_25['overview'].map(lambda x : len(x) )
data_25['company'] = data_25.production_companies.str.split('|')
data_25 = data_25.explode('company')
data_25_long = data_25.groupby(['company'])['overview_len'].mean().sort_values(ascending=False)
x = data_25_long.idxmax()
display(x)

'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [40]:
persent_limit = data['vote_average'].quantile(0.99)

data.loc[data['vote_average']>persent_limit][['original_title','vote_average']]

                                     original_title  vote_average
9                                        Inside Out           8.0
34                                             Room           8.0
118                                    Interstellar           8.0
119                         Guardians of the Galaxy           7.9
125                              The Imitation Game           8.0
128                                       Gone Girl           7.9
138                        The Grand Budapest Hotel           7.9
370                                       Inception           7.9
599                                 The Dark Knight           8.1
872                                     The Pianist           7.9
1081  The Lord of the Rings: The Return of the King           7.9
1183                        The Wolf of Wall Street           7.9
1191                               12 Years a Slave           7.9
1800                                        Memento           7.9

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

actors_and_actor_counter = Counter()
for i in range(len(data)):
     temp_list = data.iloc[i]['cast'].split('|')
     for actor1 in temp_list:
         new_list = temp_list.copy()
         new_list.remove(actor1)
         for actor2 in new_list:
             actors_and_actor_counter[(actor1, actor2)] += 1

actors_and_actor_counter.most_common(1)

# Submission

In [63]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '2. Gods and Generals (tt0279111)',
 '3': '3. Winnie the Pooh (tt1449283)',
 '4': '2. 110',
 '5': '1. 107',
 '6': '5. Avatar (tt0499549)',
 '7': '5. The Lone Ranger (tt1210819)',
 '8': '1. 1478',
 '9': '4. The Dark Knight (tt0468569)',
 '10': '5. The Lone Ranger (tt1210819)',
 '11': '3. Drama',
 '12': '1. Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker (tt0267626)',
 '19': '2015',
 '20': '2014',
 '21': 'Сентябрь',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': 'Daniel Radcliffe, Rupert Grint'}

In [64]:
# и убедиться что ни чего не пропустил)
len(answers)

27

In [61]:
# решение 27 задачи, под вопросом не было возможности запустить код 
actors_and_actor_counter = Counter()
for i in range(len(data)):
     temp_list = data.iloc[i]['cast'].split('|')
     for actor1 in temp_list:
         new_list = temp_list.copy()
         new_list.remove(actor1)
         for actor2 in new_list:
             actors_and_actor_counter[(actor1, actor2)] += 1

actors_and_actor_counter.most_common(1)

[(('Daniel Radcliffe', 'Rupert Grint'), 8)]